Debug
Release
*.user
.vs
.cr
bin
obj
packages
AppPackages
packages
BundleArtifacts
Sentry
Output
TestResults
NGenuity2/Assets/Native/APOInstaller.exe
NGenuity2/Assets/Native/NGenuityDriverInstaller.exe
NGenuity2/Assets/Native/NGenuity2Helper.exe
NGenuity2/Assets/Native/SolocastUpdater.exe
NGenuity2/Assets/Native/CodecFWUpdater.exe
NGenuity2/Assets/Native/Audio/
NGenuity2/Assets/Native/dtscnt64.dll
NGenuity2/Assets/Native/DTSAPO.dll
NGenuity2/Assets/Native/NGenuity2Helper.Diagnostics.dll
NGenuity2/Assets/Native/SynaUpdater.dll
NGenuity2/Assets/Native/GoogleMeasurementProtocol.dll
NGenuity2/Assets/Native/PublisherStorageLib.dll
NGenuity2/Assets/Native/RvcLib.dll
SynaUpdater/Output
SynaUpdater/x64
SynaUpdater/x86
NGenuity2Helper/Properties/VersionInfo.cs
NGenuityInstaller/Properties/VersionInfo.cs
*.msixbundle
*.msix
Setup.assets.cache

